h1 {
color:aqua;
font-size: 1.5cm;
font-family: Georgia, 'Times New Roman', Times, serif



}
h2{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: blueviolet;

}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
color:brown;
}


