body{
  margin-left: 10%;
  margin-right: 10%;
background-color: white;
background-image: url(pictures/hej.png);
}

#h11{
font-family: sans-serif;
font-size: 100px;
display: inline;
color: white;
background-color: #B4895D;
border-radius: 70px;
padding: 20px;
text-align: center;

}

#beans{
  background-image: url(pictures/coffee.png);
}

#div1{
  overflow: hidden;
  margin-top: 2%;
  background-color: #243a29;
  top: 0;
  position: sticky;
  z-index: 1;
}

footer{
  margin-left: -12.5%;
  margin-right: -12.5%;
  height: 400px;
  background-image: url(pictures/gron.png);
  background-repeat: repeat;
}

#rcontent{
  height: auto;
  background-image: url(pictures/gron.png);
  background-repeat: repeat;
}



#questions{
  background-color: #243a29;
  font-family: sans-serif;
  color: #B4895D;
  height: auto;

}

#contentM p{
  color: white;
  background-color: #B4895D;
  padding: 15px 15px;
  font-family: sans-serif;
}

#contentM h2{
  color: white;
  background-color: #B4895D;
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: sans-serif;
}

#contentM h3{
  color: white;
  background-color: #B4895D;
  padding: 10px 10px;
  font-family: sans-serif;
}

#contentM .menu {
  width: 50%;
  margin: auto;
  height: auto;
}

#text p{
  font-family: sans-serif;


}

#rcontent h3{
  text-align: center;
  color: #B4895D;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 20px;
  margin:0;
}

#rcontent p{
  color: #B4895D;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-left: 2%;
}

#findus{
  display: inline;
  background-color: #243a29;
}

#coffee{
  font-family: sans-serif;
}

#coffee h2{
  background-color: #243a29;
  color: #B4895D;
  width: 50%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px;
  font-size: 28px;

}

#coffee p{
  background-color: #243a29;
  color: #B4895D;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px;
  font-size: 18px;
}

#findus p{
  background-color: #243a29;
  padding: 15px 15px;
  margin-top: 0;
  font-family: sans-serif;
  color: #B4895D;
  font-size: 20px;
}

#findusmap{
  height: 500px;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    
  }


  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-family:sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  li a:hover{
      background-color: #1b2e20;
  }

  li.active{
background-color: #074f1a;

  }

  #img img{
    display: inline;
    margin-left: 10%;

  }

  .footerbox h3{
    padding: 0px;
    padding-bottom: 10px;
    color: #B4895D;
    text-transform: uppercase;
    font-family:sans-serif;
    letter-spacing: 1px;
    margin: 0px;

}

.footerbox{
  margin-top: 1%;
  width: 20%;
  margin-left: 4%;
  height: 400px;
  float: left;
  text-align: center;
  
  }

  .footerbox a{
    text-decoration: none;
    color: #cfb396;
    display: block;
    margin-top: 4%;
    font-family: sans-serif;
    font-size: 16px;

  }

  .footerbox p{
    color: #cfb396;
    display: block;
    margin-top: 4%;
    font-family: sans-serif;
    font-size: 16px;
  }

  .footerbox #links a{
      display: inline;
      padding: 5px;


  }

  

  .footerbox a:hover{
    color: #f5be87;

  }

  #form{
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: #B4895D;
    font-family: sans-serif;

  }

#form #text{
  width: 50%;
}

  #notdone{
    margin-top: 20%;
    background-color: #B4895D;
    font-family: sans-serif;
    text-align: center;
    padding: 15px 15px;
    color: white;

  }

  #notdone a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 5px;
    font-size: 20px;
  }

  #notdone a:hover{
    font-size: 21px;
    color: gray;
  }

  .content h2{
    margin-top: 0;
    text-align: center;
  }


  #banner{
      position: relative;
      text-align: center;
    }
  #banner img{
      height: auto;
      width: 100%;
  }

  #banner #text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }

  .content a{
    text-decoration: none;
    color: #f5be87;
    font-family: sans-serif;
    font-size: 80px;
    

  }

  .content a:hover{
    font-size: 81px;


  }



  @media screen and (max-width: 1300px) {
    #h11{
      font-size: 60px;
      border-radius: 70px;
      padding: 15px;
    }

    .content a{ 
      font-size: 60px;
    }

    .content a:hover{
      font-size: 61px;
  
  
    }

  }

  @media screen and (max-width: 1000px) {
    #h11{
      display: block;
      font-size: 60px;
      border-radius: 70px;
      padding: 10px;
      background-color: #B4895D;
      color: white;
     
    }

    .content a{
      font-size: 40px;
      
  
    }
    .content a:hover{
      font-size: 41px;
  
  
    }

    
    
      }

      @media screen and (max-width: 600px) {
        li{
          float: none;

        
        }

        #div1{
           position: relative; 

        }

        .footerbox h3{
          padding: 0px;
          padding-bottom: 5px;
          font-size: 14px;
          }

          .footerbox p{
            font-size: 12px;
          }
        
          .footerbox a{
            font-size: 12px;
          }

          .content a{
            font-size: 30px;
            
        
          }
          .content a:hover{
            font-size: 31px;
        
        
          }

          #rcontent h3{
            font-size: 20px;
      
          }
      
          #rcontent p{
            font-size: 12px;
      
          }

          #findus p{
            font-size: 14px;
          }

          #findusmap{
            height: 300px;

          }

          #questions h2{
            font-size: 20px;

          }

          #questions p{
            font-size: 14px;

          }

          .footerbox #links a{
            display: block;
            margin-top: 0;

          }

          #coffee h2{
            padding: 10px 10px;
            font-size: 20px;
          
          }
          
          #coffee p{
            padding: 10px 10px;
            font-size: 14px;
          }

          #text p{
            font-size: 14px;
            
          
          }
          


      }

      @media screen and (max-width: 400px) {

        .footerbox h3{
          font-size: 10px;
          
          
          }

          .content a{
            font-size: 20px;
            
        
          }
          .content a:hover{
            font-size: 21px;
        
        
          }

          .footerbox a{
            font-size: 8px;
        
          }

          .footerbox p{
            font-size: 8px;
          }

          #text p{
            font-size: 10px;
            
          
          }
          
          
         

      }
